* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
.bg-color-red {
  background-color: #ec1d24;
}
.bg-color-white {
  background-color: #fff;
}

/* Head */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  height: 60px;
  background-color: #222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Logo */
.logo,
.footer__logo {
  background-color: #ec1d24;
  border: 2px solid #fff;
  padding: 8px 10px;
}
.logo__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo__link {
  font-size: 38px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

/* Nav */
.nav {
}

.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  background-color: #222;
}
.nav__list {
  display: flex;
  list-style: none;
}
.nav__item {
  /*display: inline-block;*/
}
.nav__item + .nav__item {
  margin-left: 40px;
}

.nav__link {
  padding: 6px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 14px;
}

/* Signin Singup */
.userControl {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 190px;
}

.userControl__container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  width: 90px;
  padding: 5px 20px;
  border-radius: 16px;
}

.userControl__container + .userControl__container {
  margin-left: 10px;
}

.userControl--bg-red {
  background-color: #ee171f;
}
.userControl--bg-white {
  background-color: #fff;
}

.userControl--txt-white {
  color: #fff;
}
.userControl--txt-black {
  color: #000;
}

.userControl--shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.userControl__image {
  position: absolute;
  left: 70px;
}

/* SignIn form */

.userControlModalIn,
.userControlModalUp {
  display: none;
}

.userControlModalIn__backdrop,
.userControlModalUp__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.userControlModalIn__container,
.userControlModalUp__container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 688px;
  height: 342px;
  background-color: #c4c4c4;
  border-radius: 20px;
  top: 20%;
  bottom: 30%;
  right: 30%;
  left: 30%;
  overflow: hidden;
}

.userControlModalUp__container {
  height: 262px;
}

.userControlModalIn__left,
.userControlModalUp__left {
  width: 50%;
  background-color: #fff;
}

.userControlModalIn__right,
.userControlModalUp__right {
  width: 50%;
  background-color: #c4c4c4;
}

/* form */
.userModalForm {
  padding: 35px 44px;
  overflow: auto;
}

.userModalForm__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  filter: invert();
}

.userModalForm__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 8px;
  text-align: center;
}

.userModalForm__subTitle {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 8px 15px;
}

.userModalForm__subTitle a {
  text-decoration-line: underline;
  color: #0093b4;
  margin-bottom: 8px;
}

input {
  margin-bottom: 8px;
  width: 100%;
  height: 28px;
  padding: 7px 10px;
  background: #ffffff;
  border: 0.4px solid #dbdbdb;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  vertical-align: middle;
}

input[name="nickname"] {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

input[name="firstname"],
input[name="lastname"],
input[name="email"],
input[name="password"] {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #868686;
  background-color: #dbdbdb;
  box-shadow: none;
}

input[name="firstname"],
input[name="lastname"] {
  width: 49%;
}

input[name="submit"] {
  background-color: #ee171f;
  color: #fff;
}

input[name="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #dbdbdb;
  margin-bottom: 0;
}

.form__checkbox > label[for="checkbox"] {
  padding: 9px 0x;
  font-size: 12px;
  line-height: 16px;
}

.form__checkbox a {
  text-decoration-line: underline;
  color: #0093b4;
}

/* END SignIn form */
@media screen and (max-width: 769px) {
  body {
    background-color: aquamarine;
  }
}

/* Profile Info */
.profileInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 278px;
  padding: 23px;
  border-radius: 35px;
}

.button--shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.profileInfo__image img {
  border-radius: 50%;
  overflow: hidden;
}

.profileInfo__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 17px;
}

.profileInfo__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 500;
  margin-bottom: 5px;
}

.profileInfo__id {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #9c9c9c;
  margin-bottom: 21px;
}

.profileInfo__button {
  width: 106px;
  height: 23px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background-color: #ec1d24;
  padding: 5px 10px;
  border-radius: 12px;
}

/* Hero */
.hero {
  position: relative;
  height: 496px;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

.hero__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/bg_hero.jpg");
  background-size: contain;
  filter: blur(6px);
  opacity: 0.25;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  padding: 48px 100px;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.heroLeft__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  font-kerning: normal;
  color: #fff;
  margin-bottom: 25px;
}

.heroLeft__txt {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 29px;
}

.search {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 205px;
  max-height: 35px;
  margin-bottom: 63px;
}

.search input {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #868686;
  border: 0;
  outline: none;
  padding: 10px 11px;
  border-radius: 16px;
}

.search__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ec1d24;
  position: absolute;
  top: -3px;
  right: -20px;
}

.search__icon {
  background-image: url("img/search.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 9px;
  right: 10px;
}

.heroLeft__citation {
  padding: 5px 0;
}
.citation__message {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 3px;
}

.citation__author {
  padding: 3px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.heroRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  z-index: 100;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 720px;
  padding: 30px;
}

.slider__container {
  z-index: 100;
  display: flex;
  align-items: center;
}

.slider__info {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}
.slider__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 25px;
}
.slider__description {
  width: 284px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 13px;
}

.slider__img {
}

.slider__details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  width: 105px;
  padding: 5px 20px;
  border-radius: 16px;
}

.slider__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.buttons__item {
  padding: 5px;
}

/* Latest Releases */
.latestReleases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 184px 30px;
}

.latestReleases__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 62px;
}

.latestReleases__list-top,
.latestReleases__list-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}

.latestReleases__item-top + .latestReleases__item-top {
  margin-left: 48px;
}

.latestReleases__item-bottom + .latestReleases__item-bottom {
  margin-left: 60px;
}

.latestReleases__list-top {
}

.latestReleases__item-top {
  position: relative;
}

.latestReleases__item-top img {
  width: 232px;
  height: 352px;
  border-radius: 35px;
  overflow: hidden;
}

.latestReleases__item-top-bg {
  position: relative;
  margin-bottom: 10px;
}

.latestReleases__rating {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  bottom: 2px;
  width: 71px;
  height: 39px;
  padding: 10px 13px;
  background: #fff;
  border-radius: 0px 20px 0px 35px;
}

.rating__star img {
  width: 18px;
  height: 18px;
}

.rating__number {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.latestReleases__collaction {
  display: flex;
  flex-direction: column;
  width: 232px;
}
.collection__row {
  display: flex;
  justify-content: space-between;
}
.collection__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.collection__collection {
  font-size: 12px;
  line-height: 14px;
  color: #474747;
}

.collection__cost {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #ee171f;
}

/* Hover for Latest releases */
.latestReleases__hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: -4px;
  bottom: 0;
  width: 241px;
  height: 197px;
  padding: 19px 12px 6px 12px;
  background: linear-gradient(180deg, rgba(77, 77, 77, 0.83) 0%, #000000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 0.2s all ease;
  transform: translate(0, 10px);
  opacity: 0;
}

.latestReleases__item-top:hover .latestReleases__hover {
  opacity: 1;
  transform: translate(0, 0);
}

.hover__description {
  font-size: 12px;
  line-height: 14px;
  height: 97px;
  color: #fff;
}

.latestReleases__hover .collection__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-bottom: 6px;
}
.latestReleases__hover .collection__collection {
  font-size: 12px;
  line-height: 14px;
  color: #b6b6b6;
}

.hover__collection {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.hover__detail {
  display: flex;
  flex-direction: column;
}

.hover__detail a {
  margin-top: 9px;
}
.collection__title {
}

.collection__collection {
}

.hover__row {
  display: flex;
  justify-content: space-between;
}

/* END Hover for Latest releases */

/* Characters */
.characters {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.characters__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 62px;
}
.characters__list {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 30px;
}

.characters__item + .characters__item {
  margin-left: 25px;
}

.characters__heroName {
  position: absolute;
  bottom: 2px;
  width: 196px;
  padding: 25px 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  border-radius: 35px;
}

.characters__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 325px 90px 180px;
}

.footer__left {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin-bottom: 22px;
}

.footer__copywrite {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
  margin-bottom: 22px;
}

.footer__socialicons {
  display: flex;
  align-items: center;
}

.socialicons__link + .socialicons__link {
  margin-left: 17px;
}

.footer__right {
  display: flex;
  justify-content: space-between;
}

.footer__right-menu {
}

.menu__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  margin-bottom: 13px;
}

.menu__link {
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.menu__item + .menu__item {
  padding-top: 13px;
}

.footer__right-menu + .footer__right-menu {
  margin-left: 55px;
}
